@import "../../Constants/Mixin";
@import "../../Constants/Variables";


.normalContactInput {
  width: 40%;
  margin: 5px auto;
  padding: 0 10px;
  outline: none;
  border: $Border;
  height: 40px;
  border-radius: $BorderRadius;
  transition: 0.25s linear;


  &:focus {
    box-shadow: $BoxShadow ;
  }
}


::placeholder {
  color: $FontColor;
  font-size: 1vw;
  opacity: .8;
}
