@import "../Constants/Mixin";
@import "../Constants/Variables";

.Footer {
  margin-top: 50px;
  padding-top: 50px;

  > :nth-child(1) {
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .contactForm {
    @include Display(column, flex-start, center);
    padding: 50px 0;

    textarea {
      width: 60%;
      margin: 5px auto;
      padding: 0 10px;
      outline: none;
      border: $Border;
      height: 300px;
      border-radius: $BorderRadius;
      transition: 0.25s linear;

      &:focus {
        box-shadow: $BoxShadow;
      }
    }

    ::placeholder {
      color: $FontColor;
      font-size: 1vw;
      opacity: .8;

    }
  }

  .signature {
    @include Display(row, center, center);
    background-color: $BackgroundNav;
    color: #FFFFFF;
    height: 100px;
    font-family:"Arial Rounded MT Bold";
  }
}


@media only screen and (max-width: 992px) {
  .contactForm > * {
    width: 60% !important;
  }
  input, .contactForm:nth-child(5) {
    height: 30px !important;
  }
  textarea {
    height: 100px !important;
  }
}