@import "../Constants/Mixin";
@import "../Constants/Variables";

.headerRelative {
  @include Display(row, center, center);

  .Header {
    @include Display(row, space-between, center);
    padding: 0 10px;
    background: linear-gradient(90deg, rgba(63, 132, 136, .8) 0%, rgba(140, 217, 220, .8) 100%);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 90%;
    z-index: 2000;
    margin: 10px auto;
    border-radius: 10px;

    .goHome {
      cursor: pointer;
      @include Display(row, center, center);
      margin-left: .5rem;

      > img {
        width: 32px!important;
      }

    }

    .HamburgerBtn {
      display: none;
    }

    * {
      color: $LightFontColor;
    }

    .rightSide, .closeRightSide {
      @include Display(row, flex-start, stretch);
      width: 60%;
      font-weight: 0 !important;

      > * {
        text-align: center;
        margin: 0;
        border: none;
        white-space: nowrap;
        background-color: inherit;
        cursor: pointer;
        transition: .1s linear;
        font-size: 1.6rem;
        padding: 13px 10px;
        position: relative;
        @media only screen and (max-width: 992px) {
          font-size: 1rem;
        }

        &:after {
          content: '';
          position: absolute;
          transition: .3s;
          width: 0;
          left: 50%;
          bottom: 0;
          height: 2px;
          background: #FFFFFF;
        }

        &:hover {
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }

    }

    .leftSide {
      @include Display(row, space-between, center);
      font-size: 2.5vw;
      align-self: center;


      img {
        cursor: pointer;
        @media only screen and (max-width: 900px) {
          width: 24px !important;
          margin-left: .5rem;

        }
      }

      > :nth-child(1) {
        margin: auto 10px;
      }

      .logout {
        @include Display(row, space-between, center);

        > a {
          cursor: pointer;
          padding: 0.25rem;
          border-radius: $BorderRadius;
          transition: .1s;
          text-decoration: none;
          white-space: nowrap;
          font-size: 1.6rem;
          @media only screen and (max-width: 992px) {
            font-size: 1rem;
          }
        }

        > img {
          margin-left: 1rem;
        }
      }

      .loginForm {
        @include Display(column, center, center);
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 2000;
        left: 50%;
        top: -10px;
        transform: translate(-50%, 0);


        form {
          @include Display(column, center, center);
          background-color: $Background-color;
          height: 450px;
          width: 40%;
          border-radius: $BorderRadius;
          z-index: 2500;
          animation: popUp .5s ease-in-out;
          @media only screen and (max-width: 600px) {
            width: 70%;
          }

          span {
            font-size: 1rem;
          }

          h1 {
            color: $Background-color-dark;
            margin: 1rem 0 !important;
          }

          input {
            margin: .75rem auto;
            background-color: inherit !important;
          }

          button {
            @include Display(row, center, center);
            position: relative;
            background: #75C0BB;
            color: $FontColor;
            width: 200px;
            margin: .75rem auto;
            height: 50px;
            border: none;
            font-size: 1.3rem;
            font-weight: 600;
            border-radius: $BorderRadius;
            transition: .5s;
            overflow: hidden;

            &:focus {
              outline: 0;
            }

            &:before {
              content: '';
              display: block;
              position: absolute;
              background: rgba(255, 255, 255, 0.5);
              width: 60px;
              height: 100%;
              left: 0;
              top: 0;
              opacity: .5;
              filter: blur(30px);
              transform: translateX(-100px) skewX(-15deg);
            }

            &:after {
              content: '';
              display: block;
              position: absolute;
              background: rgba(255, 255, 255, 0.2);
              width: 30px;
              height: 100%;
              left: 30px;
              top: 0;
              opacity: 0;
              filter: blur(5px);
              transform: translateX(-100px) skewX(-15deg);
            }

            &:hover {
              background: #2B6766;
              cursor: pointer;
              color: #FFFFFF;

              &:before {
                transform: translateX(300px) skewX(-15deg);
                opacity: 0.6;
                transition: 1.2s;
              }

              &:after {
                transform: translateX(300px) skewX(-15deg);
                opacity: 1;
                transition: 1.2s;
              }
            }

            @media only screen and (max-width: 600px) {
              font-size: .7rem;
              font-weight: 1000;
              width: 40%;
              height: 30px;
            }
          }
        }
      }
    }


  }

  @keyframes popUp {
    from {
      transform: scale(.25);
    }
    to {
      transform: scale(1);
    }
  }
}

@media only screen and (max-width: 992px) {
  .headerRelative {
    position: relative;

    .Header {
      position: fixed;
      height: 40px;

      .leftSide {
        @include Display(row, flex-end, center);
        font-size: 2.5vw !important;
        width: 70% !important;

      }

      .HamburgerBtn {
        display: block !important;
      }


      .rightSide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        left: 7px;
        top: 40px;
        background-color: $BackgroundNav;
        width: 30% !important;
        transition: height 1s;

        > * {
          padding: 0 !important;
          animation: heightBtn 1s;
          height: 30px;
          border-bottom: 1px solid rgba(252, 252, 252, 0.78);
          font-size: 1.6rem;
          @media only screen and (max-width: 992px) {
            font-size: 1rem;
          }
          &:hover {
            box-shadow: none;
          }
        }
      }

      .closeRightSide {
        .HamburgerBtn {
          display: block !important;

        }

        button {
          display: none;
        }
      }


      @keyframes heightBtn {
        0% {
          height: 0;
        }
        100% {
          height: 30px;
        }
      }


    }
  }

}