$BackgroundNav: #474554;
$TitleColor: #FFFFFF;
$NavFontSize: 20px;
$LightFontColor: #FFFFFF;
$FontColor: #324B4C;
$Background-color: #FFFFFF;
$Border: 1px solid #f5f1f1;
$BorderColor: #068488;
$BorderRadius: 3px;
$BoxShadow: 0.8px 1.4px 1.8px rgba(0, 0, 0, 0.08), 3px 3px 4px rgba(0, 0, 0, 0.16);